@import "tailwindcss";

@theme {
      --breakpoint-*: initial;
    --breakpoint-xs: 375px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1680px;
    --breakpoint-4xl: 1920px;
  --color-editColor-1: #115A73;
  --color-editColor-2: #30798E;
  --color-editColor-3: #5BAEC7;
  --color-editColor-4: #A8D5E5;
  --color-editColor-5: #F2F2F2;
  --color-editColor-6: #BDBDBD;
  --color-editColorFount-1: #0B2D38;
}